---
import PageLayout from "../layouts/PageLayout.astro";
import Screenshot from "../components/Screenshot.astro";
import ScreenshotsBlock from "../components/ScreenshotsBlock.astro";
import ImageLink from "../components/ImageLink.astro";
import homepageImage from '../images/docs-hub-wide.png';
import Button from "../components/Button.astro";

const url = `https://docs.pkp.sfu.ca/dev/`
---

<PageLayout
  title="Documentation Hub"
  description="I built a simple documentation hub for the Public Knowledge Project that could be easily translated into several languages."
>
  <Fragment slot="links">
    <Button>
      <a href={url}>
        View Hub
      </a>
    </Button>
  </Fragment>
  <ScreenshotsBlock>
    <div class="col-span-4">
      <ImageLink
        href={homepageImage.src}
      >
        <Screenshot
          image={homepageImage}
          alt="Screenshot of the docs hub homepage"
        />
      </ImageLink>
    </div>
  </ScreenshotsBlock>
</PageLayout>