---
import PageLayout from "../layouts/PageLayout.astro";
import Screenshot from "../components/Screenshot.astro";
import linkIcon from "../images/link-icon.svg?raw";
import openGraphImage from "../images/killerai.png"
import dataImage from "../images/killerai-data.png"
import familiesImage from "../images/killerai-families.png"
import bombImage from "../images/killerai-bomb-landscape.png"
import ImageLink from "../components/ImageLink.astro";
import weHadDreamsImage from '../images/wehaddreams.png';

const url = 'https://wehaddreams.com'
---

<PageLayout
  title="We Had Dreams"
  description="I made an animated tribute to the voices of Palestinians living under bombardment."
>
  <Fragment slot="links">
    <a class="button" href={url}>
      View Tribute
      <Fragment set:html={linkIcon} />
    </a>
  </Fragment>
  <div
    class="
			mx-6-vw
      sm-landscape:mx-8
      lg:mx-8
      xl:max-w-screen-lg
      xl:mx-auto
      2xl:max-w-screen-xl
      3xl:max-w-screen-2xl
    "
    style="--color: #211202;"
  >
    <div
      class="
        flex
        flex-col
        gap-6-vw
        sm-landscape:gap-6
      "
    >
      <a class="tab-focus" href={url}>
        <Screenshot
          image={weHadDreamsImage}
          alt="Graphic showing a nightime city skyline with explosions and the text: We Had Dreams, Palestinians living and dying under seige"
        />
      </a>
    </div>
  </div>
</PageLayout>