---
import PageLayout from "../layouts/PageLayout.astro";
import Screenshot from "../components/Screenshot.astro";
import linkIcon from "../images/link-icon.svg?raw";
import weHadDreamsImage from '../images/wehaddreams.png';
import ScreenshotsBlock from "../components/ScreenshotsBlock.astro";

const url = 'https://wehaddreams.com'
---

<PageLayout
  title="We Had Dreams"
  description="I made an animated tribute to the voices of Palestinians living under bombardment."
  color="#211202"
>
  <Fragment slot="links">
    <a class="button" href={url}>
      View Tribute
      <Fragment set:html={linkIcon} />
    </a>
  </Fragment>
  <ScreenshotsBlock>
    <div class="col-span-4">
      <a class="tab-focus" href={url}>
        <Screenshot
          image={weHadDreamsImage}
          alt="Graphic showing a nightime city skyline with explosions and the text: We Had Dreams, Palestinians living and dying under seige"
        />
      </a>
    </div>
  </ScreenshotsBlock>
</PageLayout>