<div aria-hidden="true">
  <div class="line" />
  <div class="head" />
</div>

<style>
  .line {
    width: 100%;
    height: 2px;
    background: var(--color);
  }

  .head {
    position: absolute;
    top: 50%;
    right: 6px;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: var(--color);
    transform: rotate(45deg) translateY(-7px);
  }
</style>