<div
  class="
    flex
    flex-col
    items-center
    gap-6-vw
    text-base-vw
    leading-relaxed
    sm-landscape:gap-6
    sm-landscape:text-base
    sm-landscape:leading-relaxed
    md:text-xs-vw
    md:leading-relaxed
    md-landscape:text-lg
    md-landscape:leading-relaxed
    lg:gap-12
    lg:text-xl
    lg:leading-relaxed
  "
>
  <slot />
</div>