<div
  class="
    mx-2
    flex
    flex-col
    items-center
    gap-6
    text-lg
    leading-relaxed
    sm:mx-0
    md:gap-8
    md:text-xl
    lg:gap-12
    lg:text-xl
    lg:leading-relaxed
    3xl:text-2xl
  "
>
  <slot />
</div>