---
interface Props {
  href: string;
}

const { href } = Astro.props
---

<a
  class="
    flex
    items-center
    gap-4-vw
    text-base-vw
    font-semibold
    focus-visible:outline-black
    focus-visible:outline-2
    focus-visible:outline-offset-2
    sm-landscape:text-base
    sm-landscape:gap-4
    sm:text-sm-vw
  "
  href={href}
>
  <div
    class="
      w-8-vw
      shrink-0
      sm-landscape:w-8
    "
  >
    <slot name="svg" />
  </div>
  <slot />
</a>
