---
interface Props {
  href: string;
}

const { href } = Astro.props
---

<a
  class="
    tab-focus
    flex
    items-center
    gap-4-vw
    text-base-vw
    font-semibold
    sm-landscape:text-base
    sm-landscape:gap-4
    sm:text-sm-vw
    md:text-2xl
    md:gap-4
  "
  href={href}
>
  <div
    class="
      w-8-vw
      shrink-0
      sm-landscape:w-8
      md:w-12
    "
  >
    <slot name="svg" />
  </div>
  <slot />
</a>
