---
interface Props {
  text: string;
  classes?: string;
}

const { text, classes = 'end' } = Astro.props

const parts = text.split(' ')
---

<span
  class:list={`
    flex
    flex-wrap
    font-mono
    font-bold
    text-xs
    md:text-sm
    4xl:text-base
    ${classes}
  `}
>
  {parts.map(part => (
    <span class="bg-white px-1">
      {part}
    </span>
  ))}
</span>