
<div
  class="
    mt-32
    mx-auto
    max-w-md
    px-6
    text-center
    flex
    flex-col
    gap-8
    sm:mt-48
    lg:gap-16
    xl:max-w-lg
    2xl:max-w-xl
  "
>
  <div
    class="
      flex
      flex-col
      gap-2
      lg:gap-4
    "
  >
    <h2
      class="
        font-mono
        font-extrabold
        uppercase
        text-xl
        sm:text-2xl
      "
    >
      How I Built It
    </h2>
    <div
      class="
        sm:text-xl
      "
    >
      <slot />
    </div>
  </div>
  <div
    class="
      flex
      flex-col
      justify-center
      items-center
      gap-2
      xl:text-xl
      xl:flex-row
    "
  >
    <slot name="links" />
  </div>
</div>