---

interface Props {
  href: string;
  classes?: string;
}

const { href, classes = '' } = Astro.props;

let temp = ''
if (href) {
  temp = ''
}
---

<div
  class:list={[
    'link',
    classes,
    temp
  ]}
  data-image
>
  <slot />
  </div>