---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
	title: string;
  background: ImageMetadata;
  classes: string;
}

const { title, background, classes } = Astro.props;
---
<section
  class:list={[
    "relative",
    "my-[30vh]",
    classes,
  ]}
  data-step
  style={`
    --progress: 0;
  `}
>
  <div
    class="
      frame
      sticky
      top-0
      h-[100vh]
      overflow-hidden
    "
  >
    <div
      class="
        relative
        mx-6-vw
      "
    >
      <div
        class="
          absolute
          left-1/2
          top-1/2
          -translate-x-1/2
          -z-10
          h-[60vh]
          w-[120vh]
          flex
          justify-center
          items-center
          sm-landscape:h-[25vw]
          sm-landscape:w-[50vw]
          lg:h-[60vh]
          lg:w-[120vh]
        "
        aria-hidden="true"
      >
        <Image
          src={background}
          alt=""
        />
      </div>
      <div
        class="
          py-24
          mx-auto
          text-center
          text-xl-vw
          leading-normal
          sm:text-lg-vw
          sm:max-w-[70vw]
          sm-landscape:max-w-sm
          sm-landscape:text-base
          sm-landscape:pt-12
          sm-landscape:pb-0
          lg:py-24
          lg:max-w-sm
          lg:text-xl
          lg:leading-normal
          2xl:py-32
          2xl:max-w-lg
          2xl:text-3xl
          2xl:leading-normal
        "
        data-start
      >
        <h2 class="sr-only">{{ title }}</h2>
        <slot name="description" />
      </div>
    </div>
    <div
      class="
        relative
        w-full
        overflow-hidden
      "
    >
      <div
        class="
          flex
          items-end
        "
        style="
          transform: translateX(var(--progress));
        "
      >
        <slot />
      </div>
    </div>
  </div>
</section>

<style>
  .frame {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 2fr);
  }
</style>